*{
    margin: 0;
    padding: 0;
}
:root{
    --cor--do--texto--: #ffff;
    --cor--do--input--: #CDCDCD;
    --cor--do--botão--: #008a90;
}
main{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--cor--do--texto--);
    display: flex;
}
.main_div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}
#main_id{
    padding: 3%;
    box-shadow: 5px 5px 5px grey;
}
label{
    font-size: larger;
}
input{
    width: 50%;
    height: 10vh;
    outline: none;
    box-shadow:1px 1px 1px 1px #CDCDCD;
    border: none;
    font-size: larger;
}
.img_div{
    width: 100%;
    height: 100vh;
}
#btn_div{
    width: 100%;
}
button{
    width: 100%;
    height: 4vw;
    
}